main {
  .alert {
    text-align: center;
    background-color: $light-gray;
    margin: 0;
    padding: 2rem 3rem 1.5rem 3rem;
    border-radius: 2rem;
    position: relative;

    @media only screen and (max-width: $mobile-max-width) {
      padding: 1.5rem;
    }

    &:hover {
      h2 {
        color: $red;
      }
    }

    h2 {
      margin: 0;
      font-size: 1.75em;
      color: $blue;
      transition: .2s all;

      @media only screen and (max-width: $mobile-max-width) {
        font-size: 1.5em;
      }
    }

    a {
      border: none !important;

      &:after {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }
    }
  }
}
