.articles {
  padding: 0;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;

  article {
    list-style: none;
    text-align: left;
    width: 48%;
    margin: 0px 4px 64px 4px;
    position: relative;

    a::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }

    @media only screen and (max-width: $mobile-max-width) {
      width: 100%;
    }

    h2, h3 {
      margin: 0px;
      font-size: 1.6em;
      font-weight: 900;
      padding-bottom: 12px;

      @media only screen and (max-width: $mobile-max-width) {
        padding-bottom: 8px;
        margin-top: -4px;
      }

      a {
        color: $black;
        border: none;

        &:hover {
          color: $blue;
        }
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      max-height: 180px;
    }

    p {
        margin: 0;
    }
  }

  &__date {
    padding: 12px 0;
  }

  &__link {
    display: inline-block;
    margin-top: 12px;
  }
}
