nav.breadcrumb {
  margin-top: 32px;

  ol {
    margin: 0;
    padding-left: 0;
    list-style: none;

    @media only screen and (max-width: $mobile-max-width) {
      font-size: 0.875rem;
    }
  }

  li {
    display: inline;
    margin: 0.25em 0 0.5em;
    padding: 0;

    @media only screen and (max-width: $mobile-max-width) {
      font-size: 0.875rem;
    }
  }

  a {
    color: $dark-gray !important;
    border-bottom: 1px solid rgba($dark-gray, 0.5) !important;
  }

  li + li::before {
    display: inline-block;
    margin: 0 0.5em;
    transform: rotate(15deg);
    border-right: 0.1em solid $gray;
    height: 0.8em;
    content: "";
  }

  & [aria-current="page"] {
    color: black;
    border: none;
  }
}
