main {
  .button {
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    color: $blue;
    display: inline-block;
    border: 2px solid $blue;
    border-radius: 64px;
    box-shadow: none;

    padding: 0.375rem 1.5rem;

    cursor: pointer;
    transition: .1s all;

    &__icon {
      padding-left: 8px;
    }

    &__left-icon {
      padding-right: 8px;
    }

    h1, h2, h3, h4 {
      color: $blue;
    }

    &:hover, &:focus {
      color: white;
      border-color: $blue;
      background-color: $blue;

      h1, h2, h3, h4 {
        color: white;
      }
    }

    &--highlight {
      box-shadow: 5px 5px 0px $light;
    }
  }
}
