main {
  .button {
    text-decoration: none;
    font-size: 1em;
    font-weight: 700;
    color: $blue;
    display: inline-block;
    border: 0.125rem solid $blue;
    border-radius: 4rem;
    box-shadow: none;
    background-color: rgba(white, 0);

    padding: 0.375rem 1.5rem;

    cursor: pointer;
    transition: .1s all;

    &__icon {
      padding-left: 0.5rem;
    }

    &__left-icon {
      padding-right: 0.5rem;
    }

    h1, h2, h3, h4 {
      color: $blue;
    }

    &:hover, &:focus {
      color: white;
      border-color: $blue;
      background-color: $blue;

      h1, h2, h3, h4 {
        color: white;
      }
    }

    &--highlight {
      box-shadow: 0.25rem 0.25rem 0 $light;
    }
  }
}
