.cover {
  margin-top: 1rem;
  margin-bottom: 4rem;
  text-align: center;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 49%;

  @media only screen and (max-width: $mobile-max-width) {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  &--home {
    margin-top: 3rem;
    margin-bottom: 5rem;

    @media only screen and (max-width: $mobile-max-width) {
      margin-top: 2.5rem;
      margin-bottom: 2.5rem;
    }
  }

  &__container {
    max-width: 52rem;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;

    @media only screen and (max-width: $mobile-max-width) {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    &--home {
      max-width: 58rem;
    }

    h1 {
      margin: 1rem 0;

      @media only screen and (max-width: $mobile-max-width) {
        margin: 1.5rem 0;
      }
    }

    &--light {
      text-align: left;
      margin-top: 2rem;
      margin-bottom: -2rem;
      padding: 0;

      @media only screen and (max-width: $mobile-max-width) {
        margin-top: 3rem;
      }

      h1 {
        color: $black;
      }
    }
  }

  // &__illustration {
  //   height: 240px;
  //   padding-top: 32px;
  //   display: none;
  //
  //   @media only screen and (max-width: $mobile-max-width) {
  //     height: 160px;
  //     padding-top: 24px;
  //   }
  //
  //   &--small {
  //     height: 120px;
  //     margin: 0 auto;
  //
  //     @media only screen and (max-width: $mobile-max-width){
  //       height: 80px;
  //     }
  //   }
  // }

  &__subhead {
    max-width: 760px;
    margin: 0 auto;
    font-size: 1.25em;
    font-weight: bold;

    @media only screen and (max-width: $mobile-max-width) {
      margin-bottom: -16px;
      font-size: 1.125em;
    }
  }

  &__subhead-icon {
    display: inline-block;
    height: 24px;
    width: 24px;
    margin-bottom: -4px;
    margin-right: 8px;

    @media only screen and (max-width: $mobile-max-width) {
      display: inline;
      height: 20px;
      width: 20px;
      margin-bottom: -3px;
      margin-right: 8px;
    }
  }

  &__subtitle {
    max-width: 760px;
    margin: 16px auto 0 auto;
    padding: 0 8px;
    font-size: 1.25em;
    font-weight: 600;
    line-height: 1.5em;

    @media only screen and (max-width: $mobile-max-width) {
      font-size: 1.125em;
    }

    &--small {
      font-size: 1em;
      font-weight: normal;
    }
  }
}
