.recopier {
  padding: 20px;
  background: rgba($emerald, 1);
  color: white;
  margin: 30px 0;
}

.covid-form {
  padding: 40px;
  border: 2px solid #000;

  h1 {
    font-size: 28px;
  }
}

.small {
  font-size: .8em;
}
