.rf-header .rf-nav {
  margin: 0;
}

.content ul > li.rf-accordion {
  margin-bottom: 0;
  list-style-type: none;
  border-bottom: none;
}

.rf-link--close {
  font-weight: bold;
  color: $black;

  &:before {
    margin-top: 0.1rem;
    font-weight: bold !important;
    color: $black;
  }

  &:hover {
    color: white;
    background-color: $black;
    background-image: none !important;

    &:before {
      color: white;
    }
  }
}

.rf-accordion__title {
  display: inline-block;
}

:root:not([data-theme=dark]) .rf-accordion .rf-accordion__btn, .rf-accordion .rf-accordion__btn:hover {
  background: none;
}

.rf-callout {
  background-color: $lighter-gray !important;
  padding: 2rem !important;
  box-shadow: inset .25rem 0 0 0 $blue;
}

.rf-callout__text {
  font-size: initial !important;
  color: initial !important;
  line-height: 1.5 !important;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif !important;
}

.rf-modal {

  background-color: rgba($dark-gray, 0.5);

  &__body {
    border-radius: 16px !important;
  }

  h1, h2, h3, h4, h5, p {
    font-family: "Inter", "Helvetica Neue", Arial, sans-serif !important;
  }

  h1 {
    margin-bottom: 2rem !important;
    font-size: 2rem !important;
    line-height: 1.2 !important;
  }

  h2 {
    font-size: 1.5rem !important;
    margin: 2rem 0 1.5rem 0 !important;
  }

  h3 {
    font-size: 1.25rem !important;
    margin: 2rem 0 1.25rem 0 !important;
  }

  p {
    font-size: 1rem !important;
    margin: 0.5rem 0 !important;
    font-weight: normal !important;
  }

  li {
    font-size: 1rem !important;
    list-style-position: inside !important;
  }
}
