.header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto 20px;
}

.footer {
  padding: 40px 0;
  margin-top: 100px;
  background: $dark;
  color: #9e9d9a;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  .public {
    font-size: .8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    span {
      margin-right: 5px;
    }

    a {
      margin-right: 10px;
      opacity: 0.8;
    }
  }
}
