main {
  .message {
    text-align: center;
    background-color: $light-blue;
    padding: 2rem 3rem 1rem 3rem;
    border-radius: 32px;
    margin-top: 6rem;

    @media only screen and (max-width: $mobile-max-width) {
      padding: 24px 24px 8px 24px;
    }

    h2 {
      margin: 0;
      font-size: 1.75em;
      color: $blue;

      @media only screen and (max-width: $mobile-max-width) {
        font-size: 1.5em;
        padding-top: 4px;
        padding-bottom: 0px;
      }
    }

    .button {
      margin: 0;

      @media only screen and (max-width: $mobile-max-width) {
        margin: 0 0 0.25rem 0;
      }
    }
  }
}
