main {
  .message {
    text-align: center;
    background-color: $light-gray;
    padding: 2rem 3rem 1.5rem 3rem;
    border-radius: 2rem;
    margin-top: 6rem;

    @media only screen and (max-width: $mobile-max-width) {
      padding: 1.5rem;
      margin-top: 2rem;
    }

    h2 {
      margin: 0;
      font-size: 1.75em;
      color: $blue;

      @media only screen and (max-width: $mobile-max-width) {
        font-size: 1.5em;
      }
    }

    .button {
      margin: 0;

      @media only screen and (max-width: $mobile-max-width) {
        margin: 0 0 0.25rem 0;
      }
    }

    .subbutton {
      margin-bottom: 0;
    }
  }
}
