$blue: #3355E3;
$red: #FF5F42;
$light: #FFFF8F;
$lighter-gray: #fcfcfc;
$gray: #EBECF0;
$gray-hover: #D7D8DB;
$mid-gray: #999;
$black: #323233;

$mobileMaxWidth: 480px;

:export {
  blue: $blue;
  red: $red;
  light: $light;
  gray: $gray;
  gray-over: $gray-hover;
  black: $black;
}
