$blue: #0E37DD;
$red: #DE1656;
$light: #79F7EA;

$light-gray: #F7F7F9;
$gray: #D7D7D9;
$dark-gray: #575759;
$black: #272729;

$mobile-max-width: 480px;
$header-max-width: 1140px;

:export {
  blue: $blue;
  red: $red;
  light: $light;
  light-gray: $light-gray;
  gray: $gray;
  dark-gray: $dark-gray;
  black: $black;
}
