$blue: #3355E3;
$red: #FF5638;
$light: #FFFF8F;

$dark-red: #DB2100;

$dark: #171819;
$black: #27282B;

$lighter-gray: #F7F7F7;
$gray: #E0E1E1;
$gray-hover: #D4D4D5;
$mid-gray: #A9A9AA;
$dark-gray: #525355;

$mobile-max-width: 480px;
$header-max-width: 1140px;

:export {
  blue: $blue;
  red: $red;
  light: $light;
  dark-red: $red;
  black: $black;
  dark: $dark;
  lighter-gray: $lighter-gray;
  gray: $gray;
  gray-over: $gray-hover;
  mid-gray: $mid-gray;
  dark-gray: $dark-gray;
}
