@import "vars";
@import "layout";

@import url('https://fonts.googleapis.com/css?family=Montserrat:900|Open+Sans:400,600&display=swap');

body {
  font-family: "Open Sans", "Helvetica Neue", Arial, sans-serif;
  margin:0;
  padding:0;
  line-height: 1.5;
  color: $gray;
}

a {
  color: $blue;
}

h1 {
  font-size: 3em;
  line-height: 1.1;

  @media only screen and (max-width: 600px) {
    font-size: 2em;
  }
}

h1, h2, h3 {
  color: black;
  font-family: "Montserrat";
}

.layout {
  max-width: 760px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  display: flex;
  padding: 0 20px;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;

  @media only screen and (max-width: 600px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .title {
    color: $gray;
    text-decoration: none;
    margin-left: 10px;
  }

  div {
    display: flex;
    align-items: center;
  }

  span {
    font-style: italic;
    font-family: serif;
    font-size: 1.2em;
    font-weight: normal;
  }

  .nav {
    @media only screen and (max-width: 600px) {
      padding: 0.4em 0;
      margin: 20px 0;
      box-sizing: border-box;
    }
  }

  .nav__link {
    color: $gray;
    text-decoration: none;
    padding: 0.4em 0.8em;
    margin: 0 5px 0 0;
    border-radius: 3px;

    &:hover {
      background: $light-gray;
    }

    &.active--exact {
      background: $blue;
      color: white;
    }
  }
}

.footer {
  padding: 40px 0;
  margin-top: 100px;
  background: $dark;
  color: #9e9d9a;

  a {
    text-decoration: none;
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }

  .public {
    font-size: .8em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    span {
      margin-right: 5px;
    }

    a {
      margin-right: 10px;
      opacity: 0.8;
    }
  }
}
