@import "vars";
@import "covid";

body {
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.5;
  color: $gray;
}

a {
  color: $blue;
  transition: .2s all;

  &:hover {
    color: $blue-hover;
  }
}

h1, h2, h3 {
  color: $dark;
  font-family: "Marianne", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.2em;
}

h1 {
  font-size: 4em;
  font-weight: 800;

  @media only screen and (max-width: $mobileMaxWidth) {
    font-size: 2.5em;
  }
}

h2 {
  font-size: 2em;
  font-weight: 700;

  @media only screen and (max-width: $mobileMaxWidth) {
    font-size: 1.75em;
  }
}

section {
  margin-bottom: 64px;

  @media only screen and (max-width: $mobileMaxWidth) {
    margin-bottom: 48px;
  }
}

li {
  margin-bottom: 5px;
}

button {
  font-family: "Marianne", "Helvetica Neue", Arial, sans-serif;
  background-color: $light-gray;
  color: $dark;
  padding: 10px 24px;
  font-size: 1em;
  border-radius: 24px;
  border: none;
  cursor: pointer;
  transition: .2s background-color;

  &:hover, &:focus {
    background-color: $light-gray-hover
  }
}

.button, .buttonLight {
  font-family: "Marianne", "Helvetica Neue", Arial, sans-serif;
}

.arrow {
  font-family: "Marianne", "Helvetica Neue", Arial, sans-serif;
  padding: 0 0 0 6px;
  transition: .2s all;
}

.arrowLeft {
  font-family: "Marianne", "Helvetica Neue", Arial, sans-serif;
  padding: 0 8px 0 0px;
  transition: .2s all;
}

.cover {
  padding: 80px 0 64px;
  margin-bottom: 80px;
  text-align: center;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-color: $light-gray;

  @media only screen and (max-width: $mobileMaxWidth) {
    padding: 48px 0 32px;
    margin-bottom: 48px;
  }

  .coverContainer {
    max-width: 640px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  .subtitle {
    padding-top: 12px;
    font-weight: 700;
    font-size: 1.5em;

    @media only screen and (max-width: $mobileMaxWidth) {
      padding-top: 8px;
      font-weight: 700;
      font-size: 1.125em;
    }
  }
}

.coverLight {
  padding: 32px 0;
  margin-bottom: 64px;
  text-align: center;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;
  background-color: $light-gray;

  @media only screen and (max-width: $mobileMaxWidth) {
    padding: 32px 0;
    margin-bottom: 48px;
  }

  .coverContainer {
    max-width: 640px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.content {

  .icon {
    padding-right: 20px;
  }

  @media only screen and (max-width: $mobileMaxWidth) {

    .icon {
      display: none;
    }
  }

  section {
      margin-bottom: 64px;
  }

}

.card {
  margin: 80px 0;
  text-align: center;
  padding: 32px 32px 24px 32px;
  background: #FFFFFF;
  box-shadow: 0 0 32px -8px #C9D3DF;
  border-radius: 32px;

  @media only screen and (max-width: $mobileMaxWidth) {
    padding: 24px 8px 16px 8px;
  }

  p {
    margin: 8px;
  }

  a {
    color: var(--color);
  }

  .title {
    color: $dark;
    font-family: "Marianne", "Helvetica Neue", Arial, sans-serif;
    line-height: 1.2em;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    box-shadow:
      inset 0 -0.05em white,
      inset 0 -0.4em var(--colorLight);
    display: inline;
    transition: .1s all;

    @media only screen and (max-width: $mobileMaxWidth) {
      font-size: 1.75em;
    }

    &:hover, &:focus {
      box-shadow:
        inset 0 -0.05em white,
        inset 0 -1.4em var(--colorLight);
    }
  }

  .description {
    margin-top: 24px;
  }

  .button {
    text-decoration: none;
    color: white;
    border: 2px solid var(--color);
    background-color: var(--color);
    border-radius: 32px;
    padding: 8px 24px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0;

    @media only screen and (max-width: $mobileMaxWidth) {
      font-size: 0.875em;
    }

    &:hover {
      background: white;
      color: var(--color);
    }
  }
}
