@import "vars";
@import "covid";

body {
  margin: 0;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: $black;
}

a {
  text-decoration: none;
  color: $blue;
  transition: .2s all;

  &:hover {
    text-decoration: underline;
  }
}

h1, h2, h3, strong {
  font-family: "Marianne", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.2;
  letter-spacing: -0.10px;
}

h1 {
  font-size: 3.5em;
  font-weight: 800;
  color: $blue;

  @media only screen and (max-width: $mobileMaxWidth) {
    font-size: 2em;
  }
}

h2 {
  font-size: 2.125em;
  font-weight: 800;

  @media only screen and (max-width: $mobileMaxWidth) {
    font-size: 1.75em;
  }

  img {
    display: block;
    margin-bottom: 16px;
    width: 32px;
    transition: .2s all;

    @media only screen and (max-width: $mobileMaxWidth) {
      width: 20px;
      margin-right: 8px;
    }

    &:hover, &:focus {
      transform: rotate(180deg);
    }
  }
}

.highlight {
  text-shadow: 5px 5px 0px $light;
}

.shadow {
  box-shadow: 5px 5px 0px $light;
}

.rotate {
  transform: rotate(180deg);
}

.small {
  max-width: 600px;
}

.medium {
  max-width: 680px;
}

.content {
  margin: 0 auto;

  section {
    margin-bottom: 80px;

    @media only screen and (max-width: $mobileMaxWidth) {
      margin-bottom: 48px;
    }
  }
}

.cover {
  padding-top: 32px;
  margin-bottom: 96px;
  text-align: center;
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  left: 50%;

  @media only screen and (max-width: $mobileMaxWidth) {
    padding-top: 16px;
  }

  .container {
    max-width: 920px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;

    strong {
      display: block;
      font-size: 1.25em;
      margin-top: 8px;
      margin-bottom: -16px;
    }

    img {
      width: 32px;
      margin: 0px 12px 32px 12px;
      transition: .2s all;

      &:hover, &:focus {
        transform: rotate(180deg);
      }

      @media only screen and (max-width: $mobileMaxWidth) {
        width: 24px;
        margin-bottom: 16px;
      }
    }

    &.light {
      max-width: 720px;
      padding: 20px;
      border: 2px solid $black;

      h1 {
        color: $black;
        font-size: 3em;
      }
    }
  }

  .subtitle {
    max-width: 760px;
    margin: 0 auto;
    font-size: 1.25em;

    @media only screen and (max-width: $mobileMaxWidth) {
      font-size: 1.125em;
    }
  }

  button, .button {
    margin: 4px 8px;
    display: inline-block;
  }
}

button, .button {
  font-family: "Marianne", "Helvetica Neue", Arial, sans-serif;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  color: $black;
  display: inline-block;

  border: 2px solid $black;
  background-color: white;
  border-radius: 32px;

  padding: 8px 24px;

  cursor: pointer;
  transition: .1s all;

  &:hover, &:focus, &.hover {
    text-decoration: none;
    background-color: $black;
    color: white;
  }

  &.blue {
    color: $blue;
    border-color: $blue;

    &:hover, &:focus, &.hover {
      color: white;
      background-color: $blue;
    }
  }

  .icon {
    padding-left: 8px;
  }
}

.message {
  text-align: center;
  border: 2px solid $black;
  padding: 32px 48px 16px 48px;
  border-radius: 32px;

  @media only screen and (max-width: $mobileMaxWidth) {
    padding: 24px 24px 16px 24px;
  }

  strong {
    display: block;
    font-size: 1.75em;
    line-height: 1.4;
    padding-bottom: 4px;

    @media only screen and (max-width: $mobileMaxWidth) {
      font-size: 1.5em;
    }
  }

  .button {
    display: inline-block;
    margin: 10px 0;
  }
}
