@import "vars";

@import "alerts";
@import "articles";
//@import "breadcrumb";
//@import "buttons";
//@import "cover";
//@import "ds";
//@import "covid";
@import "messages";
@import "print";

body {
  margin: 0;
  font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  color: $black;
  background-color: white;

  .text-highlight {
    text-shadow: 0.25rem 0.25rem 0px $light;
  }

  .box-highlight {
    box-shadow: 0.25rem 0.25rem 0px $light;
  }
}

h1, h2, h3, h4 {
  font-family: "Marianne", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.2;
  color: $black;
}

h1 {
  font-size: 3.5em;
  font-weight: 800;
  color: $blue;

  @media only screen and (max-width: $mobile-max-width) {
    font-size: 2em;
  }

  .h1__icon {
    display: inline-block;
    height: 48px;
    width: 48px;
    margin-bottom: -5px;
    margin-right: 24px;
    margin-left: -32px;

    @media only screen and (max-width: $mobile-max-width) {
      display: inline;
      height: 36px;
      width: 36px;
      margin-bottom: -6px;
      margin-right: 12px;
      margin-left: -16px;
    }
  }
}

h2 {
  font-size: 2em;
  font-weight: 800;

  @media only screen and (max-width: $mobile-max-width) {
    font-size: 1.5em;
  }

  .h2__icon {
    height: 32px;
    width: 32px;
    margin-right: 12px;
    margin-bottom: -3px;

    @media only screen and (max-width: $mobile-max-width) {
      height: 24px;
      width: 24px;
      margin-right: 8px;
      margin-bottom: -3px;
    }
  }
}

h3 {
  font-size: 1.2em;
}

a {
  box-shadow: none;
  position: static;

  &:not(button):not(.button):not(.fr-header__service-title):not(.fr-link):not(.footer__logo) {
    text-decoration: none;
    color: $blue;
    transition: .2s all;
    box-shadow: none;
    border-bottom: 1px solid rgba($blue, 0.5);

    &:hover {
      color: $red;
      border-bottom: 1px solid rgba($red, 0.5);
    }

    &:focus {
      background-color: $light;
      outline-color: $blue;
    }

    &:active {
      color: $blue;
      background-color: $light;
      outline-color: $blue;
    }
  }

  &[target="_blank"]::after {
    content: "" !important;
  }
}

.content {
  margin: 0 auto;

  ul {
    padding-left: 20px;

    > li {
      list-style-type: disc;
      list-style-position: outside;
    }
  }
  section {
    margin-bottom: 64px;

    @media only screen and (max-width: $mobile-max-width) {
      margin-bottom: 48px;
    }

    .section__subtitle {
      margin: -0.5rem 0 2rem 0;
    }
  }
}
