
@media print {    
    *,
    *:before,
    *:after,
    *:first-letter,
    p:first-line,
    div:first-line,
    blockquote:first-line,
    li:first-line {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a[href^="https"]:not([href*="design.numerique.gouv.fr"]):after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    header, footer,
    main .message, .breadcrumb, .rf-skiplinks, .if-english, .cover__subhead,
    svg.cover__home-illustration, svg.cover__illustration, svg.illustration, svg.h1__icon, svg.h2__icon, div.illustration,
    .web-only {
        display: none;
    }
    
    body {
        margin: 0 auto;
        font-family: "Inter", "Helvetica Neue", Arial, sans-serif;
        font-size: 14pt;
        color: #000000;
        h1 {
            font-size: 20pt;
            color: #000000;
        }
        h2 {
            font-size: 18pt;
        }
        h3 {
            font-size: 16pt;
        }
        p {
            font-size: 14pt;
            .cover__subtitle { font-weight: bold;}
        }
        .text-highlight{
            text-shadow: none;
        }
    }
    main#main {
        width: 96%;
        padding:10pt;
        section {
            .intro > div {
                width: 100%;
                margin-right: 0;
            }    
            .intro > div + div {
                display: none;
            }    
            margin:0;
            width:100%;
            div {
                width: 100%;
            }
            .intro:first-child {
                width: 100%;
            }
            button.rf-accordion__btn {
                border: none;
                font-size: 16pt;
                text-align: left;
            }
        }
    }
    .quick-test {
        font-size: 12pt;
        .numero {
            display: none;
        }
        section.cat2  {
            page-break-after: always;
        }    
    }
    //Au cas on imprime la home ;)
    .index-page {
        svg.item__icon, svg.item__illustration {
            display: none;
        }
        div.item__description {
            width: 100%;
        }
        .cover__subtitle {
            padding: 0 10pt;    
        }
        
    }
}  