@import "vars";

html {
    overflow-x: auto;
}

.dg {

  &-text {

    &-center {
      text-align: center;
    }

    &-bold {
      font-weight: bold;
    }

    &-red {
      color: var(--text-title-red-marianne);
    }

    &-blue {
      color: var(--text-title-blue-france);
    }

    &-break {
      word-break: break-word;
    }

    &-with-picto {
      display: flex;
      justify-content: flex-start;
      align-items: center;

      h1, h2, h3, h4, h5, h6, p {
        margin: 0;
      }
    }
  }

  &-cover {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;

    background-color: var(--background-alt-pink-macaron);
    background: conic-gradient(from 90deg, var(--green-tilleul-verveine-975-75), var(--pink-macaron-975-75), var(--green-tilleul-verveine-975-75));
    @media (prefers-color-scheme: dark) {
      background: var(--background-alt-grey);
    }

    &--linear {
      background-color: var(--background-alt-pink-macaron);
      background: linear-gradient(270deg, var(--green-tilleul-verveine-975-75) 20%, var(--pink-macaron-975-75) 80%);
      @media (prefers-color-scheme: dark) {
        background-color: var(--background-alt-grey);
        background: var(--background-alt-grey);
      }
    }

    &__inner {
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 80%, var(--background-default-grey) 100%);
      @media (prefers-color-scheme: dark) {
        background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 80%, var(--background-default-grey) 100%);
      }
    }

    &__container {
      margin: 0 auto;
      padding: 0.1rem 1rem 1rem 1rem;
      max-width: $md-width;

      &--lg {
        max-width: $lg-width;
      }

      &--sm {
        max-width: $sm-width;
      }
    }

    &__title {
      display: flex;
      align-items: flex-start;

      .dg-picto {
        margin-top: -0.25rem;
      }
    }
  }

  &-content {
    margin: 0 auto;
    max-width: $md-width;

    &--xl {
      max-width: $xl-width;
    }

    &--lg {
      max-width: $lg-width;
    }

    &--sm {
      max-width: $sm-width;
    }

    &--xs {
      max-width: $xs-width;
    }
  }

  &-block {
    background-color: var(--background-alt-pink-macaron);
    background: conic-gradient(from 180deg, var(--green-tilleul-verveine-975-75), var(--pink-macaron-975-75), var(--green-tilleul-verveine-975-75));
    @media (prefers-color-scheme: dark) {
      background: var(--background-alt-grey);
    }
  }

  &-picto {
    background-color: var(--background-contrast-green-tilleul-verveine);
    background: conic-gradient(from 135deg, var(--green-tilleul-verveine-950-100), var(--pink-macaron-950-100), var(--green-tilleul-verveine-950-100));
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.25rem;
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    @media only screen and (max-width: $sm-point) {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem;
    }

    &--lg {
      width: 5rem;
      height: 5rem;
      font-size: 1.5rem;

      @media only screen and (max-width: $sm-point) {
        width: 3.5rem;
        height: 3.5rem;
        font-size: 1.25rem;
      }
    }

    &--sm {
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1rem;

      @media only screen and (max-width: $sm-point) {
        width: 1.75rem;
        height: 1.75rem;
        font-size: 0.875rem;
      }
    }

    &--xs {
      width: 1.75rem;
      height: 1.75rem;
      font-size: 0.875rem;
    }

    &--rotate {
      transition: 0.2s all;

      &:hover {
        transform: rotate(180deg);
      }
    }

    &--pink {
      color: var(--text-label-pink-macaron);
      background-color: var(--background-contrast-pink-macaron);
      background: var(--background-contrast-pink-macaron);
    }
  }

  &-team {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

    &-member {
      text-align: center;
      margin-bottom: 2rem;
      list-style: none;

      &__photo {
        width: 6rem;
        border-radius: 50%;
      }

      &__name, &__title, &__team, &__twitter  {
        margin-bottom: 0.25rem;
      }
    }
  }

  &-section-with-link {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &__title {
      order: 1;
    }

    &__link {
      order: 2;
      @media only screen and (max-width: $sm-point) {
        order: 4;
        width: 100%;
        margin-top: 1rem;
      }
    }

    &__blocks {
      order: 3;
    }
  }
}

.fr {

  &-header {
    z-index: 1;
  }

  &-tile {
    &:hover {
      .dg-picto {
        transform: rotate(180deg);
      }
    }
  }

  &-badge {
    flex-shrink: 0;
  }
}
