html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.dg {

  &-text {

    &-center {
      text-align: center;
    }
  }

  &-flip {
    &-h {
      display: inline-block;
      -moz-transform: scale(-1, 1);
      -webkit-transform: scale(-1, 1);
      -o-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
      transform: scale(-1, 1);
    }
  }

  &-cover {
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
    //background: linear-gradient(270deg, #FEF7DA 20%, #FEF4F3 80%);
    background: conic-gradient(from 90deg, #FEF7DA, #FEF4F3, #FEF7DA);

    &-inner {
      background: linear-gradient(180deg, rgba(255,255,255,0.00) 0%, rgba(255,255,255,0.00) 80%, #FFFFFF 100%);
    }
  }

  &-badge {
    font-size: 0.8rem;
    color: var(--text-action-high-pink-macaron);
    background-color: var(--background-action-low-pink-macaron);
    border-radius: 1rem;
    padding: 0.125rem 0.5rem;
    margin: 0 0.5rem;
    display: inline;
  }
}

.fr {

  &-header {
    z-index: 1;
  }
}
