.form {

  .message-required {
    text-align: right;
  }

  .required {
    color: $red;
  }

  .rgpd {
    margin-top: 0;

    &--small {
      color: $dark-gray;
      font-size: 0.75rem;
      margin-bottom: 2rem;
    }
  }
}
