$blue: #0E37DD;
$red: #DA1654;
$light: #79F7EA;

$light-gray: #F4F4F6;
$gray: #D4D4D6;
$dark-gray: #545456;
$black: #242426;

$mobile-max-width: 480px;
$header-max-width: 1140px;

:export {
  blue: $blue;
  red: $red;
  light: $light;
  light-gray: $light-gray;
  gray: $gray;
  dark-gray: $dark-gray;
  black: $black;
}
